<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'hotel'
  }
</script>

<style>
@import '~primevue/resources/primevue.min.css'
@import '~primeicons/primeicons.css'

  /* CSS */
</style>
